.html, body{
    margin: 0px;
    padding: 0px; 
    font-family: 'Chakra Petch', sans-serif;;

}

.under {
    display: flex;
    position: relative;
    background-color: yellow; 
    width: 50%;
    height: 50%;
}